div.perfil-image {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 20px auto;
  border-radius: 50%;
  font-size: 2.5rem;
  overflow: hidden;
  background-color: #5f8d4e;
  cursor: pointer;
  transition: all 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

div.perfil-image:hover {
  filter: brightness(0.6);
}

img.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.expand-perfil-image {
  width: 80%;
  height: 450px;
  border-radius: 10px;
  cursor: default;
}

div.expand-perfil-image:hover {
  filter: brightness(1);
}

svg.cancel-icon {
  position: absolute;
  fill: white;
  font-size: 2rem;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--dark-green);
}

@media screen and (max-width: 700px) {
  div.perfil-image {
    width: 100px;
    height: 100px;
  }

  h5.dato {
    font-size: 1.1rem;
    word-wrap: break-word;
  }

  h6.dato {
    font-size: 1rem;
    word-wrap: break-word;
  }
}
