 .model3algoooooooooooo{

    background-color:rgb(245, 245, 245) ;
    
   
 }

 .modeltitle{
    margin : 0px;
    padding : 2rem;
 }
 
 .allcont{
    display : flex;
    flex-direction: column;
    align-items: center;
 }

 .eleA{
    text-decoration : none;
    color : white;
 }

 A:link {text-decoration: none }
A:visited {color: white;  font-family: arial; text-decoration: none }
A:hover { color: white; font-family: arial; text-decoration: none }
*{outline:none !important;}*:focus {outline: none !important;}textarea:focus, input:focus{outline: none !important;}	a{text-decoration: none !important;outline: none !important;}
 

.boxx{
    background-color: rgba(213, 208, 208, 0.807);
    width: 100vw;
    height: 100vh ;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
 .members{
    padding: 20px;
    
    display : flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 .member
{
    margin : 1rem;
    box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 75%);
    /* margin: 20px 15px; */
    border-radius: 15px;
    width: 400px;
    padding: 40px 0;
    height: max-content;
    background-color: #fff;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
 .member::after
{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 20px;
    transition: all 1s;
    background: rgb(85, 85, 85);
    border-top-left-radius: 015px;
    
}

 .member::before
{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 0;
    height: 20px;
    transition: all 1s;
    background: rgb(85, 85, 85);
    border-top-right-radius: 15px;
}
.divider
{
    width: 75px;
    height: 4px;
    background-color: #272c60;
    position: relative;
    margin: 20px auto 60px;
}

.img
{
    border-radius: 50%;
    transition: all 1s;
}

 .description h1
{
    color:rgb(3, 3, 3);
    text-align: center;
}

 .description h2
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #F21B3F;
    font-weight: 600;
    font-size: 18px;
}

 .description p
{
    color: rgb(3, 3, 3);
    text-align: justify;
    padding: 0 15px;
}

 .socialmedia
{
    position: absolute;
    background-color: rgb(85, 85, 85);
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    transition: all 1s;
    width: 0;
    opacity: 0;
    border-radius: 0 0 15px 15px;
    color: #fff;
}

 .description .socialmedia svg
{
    font-size: 30px;
    transition: all 1s;
}

 .member:hover .socialmedia
{
    width: 100%;
    opacity: 1;
}

 .member:hover
{
    background-color: rgba(127, 124, 124, 0.2);
    transform: scale(1.01);
        border-radius: 15px;

}

 .member:hover .img
{
    transform: scale(1.1);
    border: 2px  rgb(85, 85, 85);
}

 .description .socialmedia svg:hover
{
    transform: scale(1.1);
    color: #d7d8d8;
}

 .member:hover::before
{
    width: 50%;
}

 .member:hover::after
{
    width: 50%;
}

.descrip{
    margin-left: 8rem;
    margin-right: 8rem;
}












