.card:hover {
    box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
}

.cardChica {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1.2rem;
}

.cardChica1 {
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1.2rem;
    width: 19rem;
    height: 20rem;
}



.cardChica:hover {
    box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
}

.cardChica1:hover {
    box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
}

.GridCardChica {
    margin-left: 4rem !important;
}







/* //RESPONSIVE */

@media all and (max-width: 1300px) {

    .cardChica1 {
        width: 22rem;
        height: 20rem;
    }

}

@media all and (max-width: 850px) {
    .card {
        margin: 0;
    }

    .cardChica {
        width: 100%;
        margin-bottom: 0.5rem;
        margin-top: 1.2rem;
    }

    .cardChica:hover {
        box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
    }

    .cardChica1 {
        width: 18rem;
        height: 21.5rem;
    }

    .cardChica1:hover {
        box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
    }

    .titulo {
        font-weight: 700;
    }

    .desde {
        font-size: 1.3rem;
    }



}

/* @media all and (max-width: 500px) */
@media only screen and (max-device-width : 640px) {

    .titulo {
        font-weight: 700 !important;
    }

    .GridCardChica {
        margin-left: 3rem !important;
    }

    .cardChica1 {
        width: 20rem;
        height: 21.5rem;
    }


    @media only screen and (max-device-width : 325px) {
        .GridCardChica {
            margin-left: 1rem !important;
        }

        .cardChica1 {
            width: 18rem;
            height: 21.5rem;
        }
    }

}