.card:hover {
    box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
}






/* //RESPONSIVE */

@media all and (max-width: 1000px) {
    .card {
        background-color: greenyellow;
    }

}

@media all and (max-width: 850px) {
    .card {
        margin: 0;
    }

    .cardChica {
        width: 100%;
        margin-bottom: 0.5rem;
        margin-top: 1.2rem;
    }

    .cardChica:hover {
        box-shadow: 0px 4px 8px rgba(50, 50, 50, 1)
    }

    .titulo {
        font-weight: 700;
    }

    .desde {
        font-size: 1.3rem;
    }



}

/* @media all and (max-width: 500px) */
@media only screen and (max-device-width : 640px) {

    .titulo {
        font-weight: 700 !important;
    }



}