.card{
    max-width: 25rem;
    margin-bottom: 20%;

}

.image{
    height: 16rem;
    width: 21rem;
}

.card:hover{
    box-shadow: 0px 4px 8px rgba(50, 50, 50, 1);
}


.typography{
    padding-top: 10px;
}
