.grid{
    width: 100%;
    justify-content: center;
    display: grid;
    
    grid-template-columns: repeat(auto-fit, 400px);
    column-gap: 60px;
    row-gap: 60px;
    
}

.link{
    text-decoration: none;
}
