.footer{
    background-image: url(https://res.cloudinary.com/pfcampy/image/upload/v1670444056/Footer_CAMPY_ehsk96.png);
    background-size: 100vw;
    color: white;
   
    position: absolute;
   width: 100vw;
   background-repeat: no-repeat;
   padding-bottom: 3rem;
   
    
   
   }
   
   