.reserve-container {
  position: absolute;
  z-index: 9999;
}

.table-head {
  font-size: 1.2rem;
  font-weight: 600;
  color: #285430;
}

.table-row {
  cursor:default;
  font-size: 1rem;
}

button.menu-button {
  text-decoration: underline;
  color: #5481d0;
  cursor: pointer;
  padding-right: 0px;
  transition: all .4s ease;
}

button.menu-button:hover {
  color: #0b378a;
  text-shadow: 1px 0px #0b378a;
}

.menu-item {
  color: #39284b;
  font-weight: 500;
}

.Rechazada {
  color: #bd4242;
}

.Realizada {
  color: #4c8a45;
}

.Finalizada {
  color: #a27c2b;
}

svg.close-button {
  font-size: 1.7rem;
  position: absolute;
  fill: var(--red);
  top: 10px;
  right: 10px;
  cursor: pointer;
}
