.reserve-container {
  position: absolute;
  z-index: 999;
}

th.table-head {
  font-size: 1.2rem;
  font-weight: 600;
  color: #285430;
}

td.table-row {
  cursor: default;
  font-size: 1rem;
}

td.Pendiente {
  color: #5481d0;
  cursor: pointer;
  transition: all 0.3s ease;
}

td.Pendiente:hover {
  color: #32548e;
  text-shadow: 1px 0 #32548e;
}

td.Rechazada {
  color: #bd4242;
}

td.Abonada {
  color: #4c8a45;
}

td.Vencida {
  color: #ff600a;
}

td.Finalizada {
  color: #b38931;
}

td.ver-detalle {
  text-decoration: underline;
  cursor: pointer;
}

td.ver-detalle:hover {
  color: var(--red);
}

@media screen and (max-width: 700px) {
  th.table-head {
    font-size: 0.8rem;
    padding: 5px 0;
    padding-right: 20px;
  }

  td.table-row {
    font-size: 0.7rem;
    padding: 5px 0px;
  }
}
