body {
  margin: 0;
  font-family: "Sen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div.map-container {
  height: calc(100vh - 64px);
  width: 100vw;
}

#tidio-chat-iframe {
  bottom: 0 !important;
}

@media all and (max-width: 850px) {

  #tidio-chat-iframe {
    transform: scale(0.9) !important;
    right: -10px !important;
    bottom: -10px !important;

  }




}