.reserve-container {
  position: absolute;
  z-index: 999;
}

th.table-head {
  font-size: 1.2rem;
  font-weight: 600;
  color: #285430;
}

td.table-row {
  cursor: default;
  font-size: 1rem;
}

button.menu-button {
  text-decoration: underline;
  color: #5481d0;
  cursor: pointer;
  padding-right: 0px;
  transition: all 0.4s ease;
}

button.menu-button:hover {
  color: #0b378a;
  text-shadow: 1px 0px #0b378a;
}

.menu-item {
  color: #39284b;
  font-weight: 500;
}

td.Rechazada {
  color: #bd4242;
}

td.Abonada {
  color: #4c8a45;
}

td.Vencida {
  color: #ff600a;
}

td.Finalizada {
  color: #b38931;
}

td.ver-detalle {
  text-decoration: underline;
  cursor: pointer;
}

td.ver-detalle:hover {
  color: var(--red);
}

svg.close-button {
  font-size: 1.7rem;
  position: absolute;
  fill: var(--red);
  top: 10px;
  right: 10px;
  cursor: pointer;
}
