.banner {
    max-height: 34.5 rem;
    width: 100vw;
}

h1.titulo {
    font-size: 5rem;
    letter-spacing: 25;
    padding-right: 2rem;
    padding-left: 2rem;
    text-align: center;
}

h5.subtitulo {
    padding-right: 4rem;
    padding-left: 4rem;
}

/* //RESPONSIVE */

@media all and (max-width: 1280px) {}

@media all and (max-width: 850px) {}

@media only screen and (max-device-width: 640px) {
    h1.titulo {
        font-size: 3rem;
    }

    h5.subtitulo {
        font-size: 0.8rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}