.banner {
    max-height: 34.5 rem;
    width: 100vw;
}

.titulo {
    font-size: 9rem;
    letter-spacing: 25;
    font-weight: 900;
}

/* //RESPONSIVE */

@media all and (max-width: 800px) {}

@media all and (max-width: 500px) {}
